<nav>
    <div class="site-title">
      <a href="/"><h1 class="blogSite">Blog Site</h1></a>
      <p>A Blog Site made with Node.JS</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>