<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2 class="heading">About</h2>
      <p>
        This blog site is made using Node.Js, Express, MongoDB.
      </p>
      <p>
        Basic operations like get, post and delete are used on this site.
      </p>
      <p>
        Users can add their blogs, view all blogs that are stroed in the database, and can delete the blog they dont like.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
